%h1 Listing tasks

%table
  %tr
    %th Name
    %th Project
    %th User
    %th State
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.project.to_s
      %td= task.user.to_s
      %td= task.state
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
